certifi
charset-normalizer
click
cmudict
colorama
Cython
editdistance
epitran
filelock
fsspec
g2pK
idna
importlib_metadata
importlib_resources
ipapy
iso-639 @ git+https://github.com/noumar/iso639.git@2175cf04b8b8cec79d99a6c4ad31295d67c22cd6
jamo
Jinja2
joblib
JPype1
kaldiio
konlpy
lxml
marisa-trie
MarkupSafe
mecab-python3
mpmath
munkres
networkx
nltk
numpy
packaging
panphon
phonepiece
python-mecab-ko
python-mecab-ko-dic
PyYAML
regex
requests
scipy
sympy
torch
torchaudio
tqdm
transphone>=1.5.3
typing_extensions
unicodecsv
Unidecode
urllib3
zipp
